In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import datasets

In [7]:

iris = datasets.load_iris()
iris_X = iris.data
type(iris_X)

numpy.ndarray

In [8]:

iris_y = iris.target
type(iris_y)

numpy.ndarray

In [6]:

np.unique(iris_y)

array([0, 1, 2])

In [9]:
np.random.seed(0)

In [10]:
indices = np.random.permutation(len(iris_X))
print(indices)

[114  62  33 107   7 100  40  86  76  71 134  51  73  54  63  37  78  90
  45  16 121  66  24   8 126  22  44  97  93  26 137  84  27 127 132  59
  18  83  61  92 112   2 141  43  10  60 116 144 119 108  69 135  56  80
 123 133 106 146  50 147  85  30 101  94  64  89  91 125  48  13 111  95
  20  15  52   3 149  98   6  68 109  96  12 102 120 104 128  46  11 110
 124  41 148   1 113 139  42   4 129  17  38   5  53 143 105   0  34  28
  55  75  35  23  74  31 118  57 131  65  32 138  14 122  19  29 130  49
 136  99  82  79 115 145  72  77  25  81 140 142  39  58  88  70  87  36
  21   9 103  67 117  47]

In [11]:
iris_X_train = iris_X[indices[:-10]]
iris_y_train = iris_y[indices[:-10]]
iris_X_test  = iris_X[indices[-10:]]
iris_y_test  = iris_y[indices[-10:]]

In [81]:
iris_X_train

array([[ 5.8,  2.8,  5.1,  2.4],
       [ 6. ,  2.2,  4. ,  1. ],
       [ 5.5,  4.2,  1.4,  0.2],
       [ 7.3,  2.9,  6.3,  1.8],
       [ 5. ,  3.4,  1.5,  0.2],
       [ 6.3,  3.3,  6. ,  2.5],
       [ 5. ,  3.5,  1.3,  0.3],
       [ 6.7,  3.1,  4.7,  1.5],
       [ 6.8,  2.8,  4.8,  1.4],
       [ 6.1,  2.8,  4. ,  1.3],
       [ 6.1,  2.6,  5.6,  1.4],
       [ 6.4,  3.2,  4.5,  1.5],
       [ 6.1,  2.8,  4.7,  1.2],
       [ 6.5,  2.8,  4.6,  1.5],
       [ 6.1,  2.9,  4.7,  1.4],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 6. ,  2.9,  4.5,  1.5],
       [ 5.5,  2.6,  4.4,  1.2],
       [ 4.8,  3. ,  1.4,  0.3],
       [ 5.4,  3.9,  1.3,  0.4],
       [ 5.6,  2.8,  4.9,  2. ],
       [ 5.6,  3. ,  4.5,  1.5],
       [ 4.8,  3.4,  1.9,  0.2],
       [ 4.4,  2.9,  1.4,  0.2],
       [ 6.2,  2.8,  4.8,  1.8],
       [ 4.6,  3.6,  1. ,  0.2],
       [ 5.1,  3.8,  1.9,  0.4],
       [ 6.2,  2.9,  4.3,  1.3],
       [ 5. ,  2.3,  3.3,  1. ],
       [ 5. ,  3.4,  1.6,  0.4],
       [ 6.4,  3.1,  5.5,  1.8],
       [ 5.4,  3. ,  4.5,  1.5],
       [ 5.2,  3.5,  1.5,  0.2],
       [ 6.1,  3. ,  4.9,  1.8],
       [ 6.4,  2.8,  5.6,  2.2],
       [ 5.2,  2.7,  3.9,  1.4],
       [ 5.7,  3.8,  1.7,  0.3],
       [ 6. ,  2.7,  5.1,  1.6],
       [ 5.9,  3. ,  4.2,  1.5],
       [ 5.8,  2.6,  4. ,  1.2],
       [ 6.8,  3. ,  5.5,  2.1],
       [ 4.7,  3.2,  1.3,  0.2],
       [ 6.9,  3.1,  5.1,  2.3],
       [ 5. ,  3.5,  1.6,  0.6],
       [ 5.4,  3.7,  1.5,  0.2],
       [ 5. ,  2. ,  3.5,  1. ],
       [ 6.5,  3. ,  5.5,  1.8],
       [ 6.7,  3.3,  5.7,  2.5],
       [ 6. ,  2.2,  5. ,  1.5],
       [ 6.7,  2.5,  5.8,  1.8],
       [ 5.6,  2.5,  3.9,  1.1],
       [ 7.7,  3. ,  6.1,  2.3],
       [ 6.3,  3.3,  4.7,  1.6],
       [ 5.5,  2.4,  3.8,  1.1],
       [ 6.3,  2.7,  4.9,  1.8],
       [ 6.3,  2.8,  5.1,  1.5],
       [ 4.9,  2.5,  4.5,  1.7],
       [ 6.3,  2.5,  5. ,  1.9],
       [ 7. ,  3.2,  4.7,  1.4],
       [ 6.5,  3. ,  5.2,  2. ],
       [ 6. ,  3.4,  4.5,  1.6],
       [ 4.8,  3.1,  1.6,  0.2],
       [ 5.8,  2.7,  5.1,  1.9],
       [ 5.6,  2.7,  4.2,  1.3],
       [ 5.6,  2.9,  3.6,  1.3],
       [ 5.5,  2.5,  4. ,  1.3],
       [ 6.1,  3. ,  4.6,  1.4],
       [ 7.2,  3.2,  6. ,  1.8],
       [ 5.3,  3.7,  1.5,  0.2],
       [ 4.3,  3. ,  1.1,  0.1],
       [ 6.4,  2.7,  5.3,  1.9],
       [ 5.7,  3. ,  4.2,  1.2],
       [ 5.4,  3.4,  1.7,  0.2],
       [ 5.7,  4.4,  1.5,  0.4],
       [ 6.9,  3.1,  4.9,  1.5],
       [ 4.6,  3.1,  1.5,  0.2],
       [ 5.9,  3. ,  5.1,  1.8],
       [ 5.1,  2.5,  3. ,  1.1],
       [ 4.6,  3.4,  1.4,  0.3],
       [ 6.2,  2.2,  4.5,  1.5],
       [ 7.2,  3.6,  6.1,  2.5],
       [ 5.7,  2.9,  4.2,  1.3],
       [ 4.8,  3. ,  1.4,  0.1],
       [ 7.1,  3. ,  5.9,  2.1],
       [ 6.9,  3.2,  5.7,  2.3],
       [ 6.5,  3. ,  5.8,  2.2],
       [ 6.4,  2.8,  5.6,  2.1],
       [ 5.1,  3.8,  1.6,  0.2],
       [ 4.8,  3.4,  1.6,  0.2],
       [ 6.5,  3.2,  5.1,  2. ],
       [ 6.7,  3.3,  5.7,  2.1],
       [ 4.5,  2.3,  1.3,  0.3],
       [ 6.2,  3.4,  5.4,  2.3],
       [ 4.9,  3. ,  1.4,  0.2],
       [ 5.7,  2.5,  5. ,  2. ],
       [ 6.9,  3.1,  5.4,  2.1],
       [ 4.4,  3.2,  1.3,  0.2],
       [ 5. ,  3.6,  1.4,  0.2],
       [ 7.2,  3. ,  5.8,  1.6],
       [ 5.1,  3.5,  1.4,  0.3],
       [ 4.4,  3. ,  1.3,  0.2],
       [ 5.4,  3.9,  1.7,  0.4],
       [ 5.5,  2.3,  4. ,  1.3],
       [ 6.8,  3.2,  5.9,  2.3],
       [ 7.6,  3. ,  6.6,  2.1],
       [ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3.1,  1.5,  0.1],
       [ 5.2,  3.4,  1.4,  0.2],
       [ 5.7,  2.8,  4.5,  1.3],
       [ 6.6,  3. ,  4.4,  1.4],
       [ 5. ,  3.2,  1.2,  0.2],
       [ 5.1,  3.3,  1.7,  0.5],
       [ 6.4,  2.9,  4.3,  1.3],
       [ 5.4,  3.4,  1.5,  0.4],
       [ 7.7,  2.6,  6.9,  2.3],
       [ 4.9,  2.4,  3.3,  1. ],
       [ 7.9,  3.8,  6.4,  2. ],
       [ 6.7,  3.1,  4.4,  1.4],
       [ 5.2,  4.1,  1.5,  0.1],
       [ 6. ,  3. ,  4.8,  1.8],
       [ 5.8,  4. ,  1.2,  0.2],
       [ 7.7,  2.8,  6.7,  2. ],
       [ 5.1,  3.8,  1.5,  0.3],
       [ 4.7,  3.2,  1.6,  0.2],
       [ 7.4,  2.8,  6.1,  1.9],
       [ 5. ,  3.3,  1.4,  0.2],
       [ 6.3,  3.4,  5.6,  2.4],
       [ 5.7,  2.8,  4.1,  1.3],
       [ 5.8,  2.7,  3.9,  1.2],
       [ 5.7,  2.6,  3.5,  1. ],
       [ 6.4,  3.2,  5.3,  2.3],
       [ 6.7,  3. ,  5.2,  2.3],
       [ 6.3,  2.5,  4.9,  1.5],
       [ 6.7,  3. ,  5. ,  1.7],
       [ 5. ,  3. ,  1.6,  0.2],
       [ 5.5,  2.4,  3.7,  1. ],
       [ 6.7,  3.1,  5.6,  2.4],
       [ 5.8,  2.7,  5.1,  1.9],
       [ 5.1,  3.4,  1.5,  0.2],
       [ 6.6,  2.9,  4.6,  1.3]])

In [53]:
type(iris_y_train)

numpy.ndarray

In [18]:
# Create and fit a nearest-neighbor classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(iris_X_train, iris_y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [20]:
knn.predict(iris_X_test)

array([1, 2, 1, 0, 0, 0, 2, 1, 2, 0])

In [21]:
iris_y_test

array([1, 1, 1, 0, 0, 0, 2, 1, 2, 0])

In [24]:
boston=pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/MASS/Boston.csv')

In [26]:
boston=boston.drop('Unnamed: 0',1)

In [36]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [35]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
crim       506 non-null float64
zn         506 non-null float64
indus      506 non-null float64
chas       506 non-null int64
nox        506 non-null float64
rm         506 non-null float64
age        506 non-null float64
dis        506 non-null float64
rad        506 non-null int64
tax        506 non-null int64
ptratio    506 non-null float64
black      506 non-null float64
lstat      506 non-null float64
medv       506 non-null float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [27]:
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [39]:
boston2=boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'black', 'lstat']]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [40]:
boston2.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [88]:
boston_X=boston.iloc[:,:13].values

In [89]:
boston_y=boston['medv'].values

In [90]:
np.random.seed(7)

In [91]:
indices = np.random.permutation(len(boston_X))
print(indices)

[357 337 327  13 418 403 479 173  65 466 388 227 442 109 256 472 301 303
  32 294 476 503 202 245 147 416 306 504 213 289 361 300  89 455 268 118
 497 450 319 240  90 376 138 101 459 429 313 359 155 367 296 271 410 364
 436 358 115 464  51 270 494 263  60 340 164 204 420 132 322 308  82 440
 354 237 168 471  30  22 344  31 453  52 480 372 243 236  56 363   2  58
 368 228 261 206  74 399 302 413 408  80 451  26 355 460 120 346 457 159
 249  50 378 293  14 328 489 114 145   3 447  59 422 165 221  98 435  40
 248  41 264 193 205  79  28 217 347 244 281  57 397  62 380 111  84 242
 200 146 188 129 305  96 318 417 469 141 454 426 362 162 216 324 238 406
  81 487 314 187 425 298 179 438  53 395 139 267 278  66 424 259 365 220
  99 277 148  15 163 283  46  86  37 414 384 330 172  73 274 104 212 253
  16 310  91  88 427 140 194 102 258 174 170 246 157  70 133 280 498 371
 222 342 350 352 492 232  18 177 386  20  55 284 423 360  34 181 184 150
 207 239 292 369 295  97 235 396 452 154 122 113 441 341 171 108  78  94
  61 336 465 125 478 394 485 421 273 409  24 321 430 500 126 499 491 178
 434 377 223 351  93  69  36 160  11 144 353 127 381   9 463 176 231 210
 128 143 241   7 254 370 334   8 156  27 266  64 255 467 153  48 208 287
   1 269 265 326 333  95 462 490 316 116  45 161 385 117 288  77 488  63
 401 389 230 297 186 338 199 456 121 468 433 307 461 158  85 225 262 331
 412  76 390 375  87 505 182 105 449  49 382   5  17 234 404 495 106 134
 405 226 214 190 443 320 282  29 169 180 100 197 209 135 473 431 198 373
 166 387 136 285 335 131  39 215  43  54 477 299 458 304  35 315 309 276
 124 142 110 323 332 393 439 107 446  12 272  47 203 445 119  21 402  83
 130 483 329 229 496 286 123  33 475   4 411  19 219 379 501 419 356 149
 224 247 474 151 482 317 291 233  10 279  71 252  92 481 349 415 374 400
 192 257 484 339 493 195 343 137 260  38 201 470 290 448 189 251 112 437
 183 152 312 325 191  44 444 275   6 250 311  75   0 428 391 383 432  68
 486 167 392 218  42 366 345  72  23 398 185 348 103 407 211  67 502  25
 196 175]

In [92]:
boston_X_train = boston_X[indices[:-30]]
boston_y_train = boston_y[indices[:-30]]
boston_X_test  = boston_X[indices[-30:]]
boston_y_test  = boston_y[indices[-30:]]

In [93]:
boston_y_train

array([ 21.7,  18.5,  22.2,  20.4,   8.8,   8.3,  21.4,  23.6,  23.5,
        19. ,  10.2,  31.6,  18.4,  19.4,  44. ,  23.2,  22. ,  33.1,
        13.2,  21.7,  16.7,  23.9,  42.3,  18.5,  14.6,   7.5,  33.4,
        22. ,  28.1,  24.8,  19.9,  24.8,  28.7,  14.1,  43.5,  20.4,
        18.3,  13.4,  21. ,  22. ,  22.6,  13.9,  13.3,  26.5,  20. ,
         9.5,  21.6,  22.6,  15.6,  23.1,  27.1,  25.2,  15. ,  21.9,
         9.6,  22.7,  18.3,  21.4,  20.5,  21.1,  24.5,  31. ,  18.7,
        18.7,  22.7,  50. ,  16.7,  23. ,  20.4,  22.8,  24.8,  10.5,
        18.2,  31.5,  23.8,  19.6,  12.7,  15.2,  31.2,  14.5,  17.8,
        25. ,  23. ,  50. ,  23.7,  25.1,  24.7,  16.8,  34.7,  23.3,
        50. ,  46.7,  43.1,  24.4,  24.1,   6.3,  26.4,  16.3,  17.2,
        28. ,  15.2,  16.6,  20.6,  16.4,  22. ,  17.2,  13.5,  23.3,
        26.2,  19.7,  13.1,  23.9,  18.2,  19.3,   7. ,  18.5,  13.8,
        33.4,  12.6,  19.6,  20.8,  25. ,  21.7,  43.8,  13.4,  34.9,
        24.5,  26.6,  36.5,  31.1,  22.6,  20.3,  18.4,  28.7,  23.1,
        17.6,  35.4,  31.6,   8.5,  22.2,  10.4,  22.8,  23.9,  22.2,
        32.9,  15.6,  29.8,  14.3,  28.4,  21.4,  23.1,  10.4,  20.1,
        14.4,  14.9,  10.2,  20.8,  50. ,  23.3,  25. ,  23.7,  11.9,
        23.9,  20.6,  23.8,  32. ,   8.3,  22.5,  37.2,   8.4,  23.4,
        13.1,  17.8,  50. ,  29.1,  19.4,  11.7,  30.1,  27.5,  26.7,
        33.2,  33.1,  17.8,  19.9,  50. ,  50. ,  20. ,  22.5,  21. ,
         7. ,   8.8,  19.8,  23.1,  23.4,  32.4,  20.1,  22.4,  42.8,
        23.1,  16.1,  22. ,  23.6,  10.9,  14. ,  29.1,  18.6,  36. ,
        22.6,  17.4,  24.3,  41.3,  24.2,  18.4,  45.4,  21.2,  50. ,
        27.5,  16.5,  22.9,  18.6,  20.1,  41.7,  20.2,  24.6,  10.5,
        13.6,  35.4,  32.2,  13.4,  25. ,  13.5,  36.2,  26.4,  21.5,
        22.5,  23.3,  27.9,  50. ,  28.6,  38.7,  24. ,  12.5,  16.1,
        17. ,  20.5,  18.7,  17.1,  32.7,  19.1,  19.8,  21.2,  20.6,
        16. ,  19.5,  19.9,  21.4,  14.6,  12.7,  21.2,  14.2,  35.2,
        27.5,  15.6,  23.1,  14.5,  16.8,  15.7,  17.5,  13.6,  29.9,
        11.7,  13.3,  30.1,  24.1,  25. ,  20.9,  20. ,  27. ,  18.9,
        11.8,  30.1,  16.2,  10.9,  18.9,  20.2,  23.2,  31.7,  21.7,
        18. ,  15.6,  20.1,  27.1,  21.9,  50. ,  20.7,  16.5,  13.1,
        14.8,  30.7,  33. ,  20.9,  19.1,  19.4,  14.4,  24.4,  23.2,
        21.6,  20.7,  22.8,  23. ,  22.2,  28.4,  19.5,   8.1,  17.8,
        21.2,  19.3,  50. ,   7.2,  19.2,  22.3,  20.8,  15.2,  25. ,
         7.2,  11.5,  24.3,  20.3,  50. ,  20.6,  34.9,  12.7,  20.3,
        19.1,  14.3,  28.2,  17.7,  24.3,  26.6,  50. ,  48.8,  17.1,
        17.9,  20. ,  15.1,  15. ,  22.2,  11.9,  37.9,  19.5,  13. ,
        19.4,  11.3,  28.7,  17.5,  29. ,   8.5,  23.1,  19.5,  15.6,
         5. ,  37.6,  23.7,  37. ,  15.4,  23.8,  46. ,  21. ,  22.3,
        39.8,  27.5,  30.3,  20. ,  18.1,  29.8,  14.1,  34.6,  13.8,
        50. ,   7.4,  17.4,  22. ,  21.1,  19.6,  30.8,  25. ,  24.7,
        18.9,  12. ,  29. ,  14.9,  36.1,  18.9,  16.2,  20.3,  33.2,
        18.8,  13.4,  21.7,  18.5,  19.4,  13.8,  12.8,  20.4,  14.9,
        21.7,  24.4,  16.6,  48.5,  11.8,  19.3,  19.6,  12.1,  22.9,
        19.2,  21.8,  22.6,  31.5,  19.7,  20.1,  17.3,  13.1,  13.3,
        36.2,  17.2,  18.2,  23. ,  10.2,  22.4,   8.4,  17.8,  15.4,
        44.8,  20.5,  13.8,  19.6,  25. ,  19.8,  37.3,  48.3,  15. ,
        35.1,  21.7,  29.6,  22.9,  23.7,  26.6,   7.2,  13.8,   5.6,
        36.4,  50. ,  20.6,  19. ,  21.8,  50. ,  23.9,  17.1,  33.8,
        24.7,  24.1,  19.9,  28.5,  14.1,  34.9,  24.8,  18.8,   8.7,
        32.5,  15.3,  19.4,  24.6,  30.5,  21.2,  10.8,  32. ])

In [97]:
# Create and fit a nearest-neighbor classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(boston_X_train, boston_y_train.astype(int))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [98]:
knn.predict(boston_X_test)

array([18, 26, 23, 20, 22, 14, 16, 11, 14, 24, 19, 15, 11, 23, 25, 14, 24,
       21, 15,  5, 26, 23, 19, 14, 20, 20, 22, 13, 19, 23])

In [99]:
boston_y_test

array([ 22.9,  24.4,  22.1,  21.4,  24. ,  11. ,  23.2,  12.3,  16.1,
        17.4,  19.1,  23.8,   9.7,  21.5,  25.3,  21.9,  17.5,  22.8,
        14.5,   5. ,  29.6,  24.5,  19.3,  27.9,  19.3,  22. ,  20.6,
        13.9,  33.3,  29.4])

In [61]:
diabetes = datasets.load_diabetes()
diabetes_X_train = diabetes.data[:-20]
diabetes_X_test  = diabetes.data[-20:]
diabetes_y_train = diabetes.target[:-20]
diabetes_y_test  = diabetes.target[-20:]

In [68]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([ 151.,   75.,  141.,  206.,  135.,   97.,  138.,   63.,  110.,
         310.,  101.,   69.,  179.,  185.,  118.,  171.,  166.,  144.,
          97.,  168.,   68.,   49.,   68.,  245.,  184.,  202.,  137.,
          85.,  131.,  283.,  129.,   59.,  341.,   87.,   65.,  102.,
         265.,  276.,  252.,   90.,  100.,   55.,   61.,   92.,  259.,
          53.,  190.,  142.,   75.,  142.,  155.,  225.,   59.,  104.,
         182.,  128.,   52.,   37.,  170.,  170.,   61.,  144.,   52.,
         128.,   71.,  163.,  150.,   97.,  160.,  178.,   48.,  270.,
         202.,  111.,   85.,   42.,  170.,  200.,  252.,  113.,  143.,
          51.,   52.,  210.,   65.,  141.,   55.,  134.,   42.,  111.,
          98.,  164.,   48.,   96.,   90.,  162.,  150.,  279.,   92.,
          83.,  128.,  102.,  302.,  198.,   95.,   53.,  134.,  144.,
         232.,   81.,  104.,   59.,  246.,  297.,  258.,  229.,  275.,
         281.,  179.,  200.,  200.,  173.,  180.,   84.,  121.,  161.,
          99.,  109.,  115.,  268.,  274.,  158.,  107.,   83.,  103.,
         272.,   85.,  280.,  336.,  281.,  118.,  317.,  235.,   60.,
         174.,  259.,  178.,  128.,   96.,  126.,  288.,   88.,  292.,
          71.,  197.,  186.,   25.,   84.,   96.,  195.,   53.,  217.,
         172.,  131.,  214.,   59.,   70.,  220.,  268.,  152.,   47.,
          74.,  295.,  101.,  151.,  127.,  237.,  225.,   81.,  151.,
         107.,   64.,  138.,  185.,  265.,  101.,  137.,  143.,  141.,
          79.,  292.,  178.,   91.,  116.,   86.,  122.,   72.,  129.,
         142.,   90.,  158.,   39.,  196.,  222.,  277.,   99.,  196.,
         202.,  155.,   77.,  191.,   70.,   73.,   49.,   65.,  263.,
         248.,  296.,  214.,  185.,   78.,   93.,  252.,  150.,   77.,
         208.,   77.,  108.,  160.,   53.,  220.,  154.,  259.,   90.,
         246.,  124.,   67.,   72.,  257.,  262.,  275.,  177.,   71.,
          47.,  187.,  125.,   78.,   51.,  258.,  215.,  303.,  243.,
          91.,  150.,  310.,  153.,  346.,   63.,   89.,   50.,   39.,
         103.,  308.,  116.,  145.,   74.,   45.,  115.,  264.,   87.,
         202.,  127.,  182.,  241.,   66.,   94.,  283.,   64.,  102.,
         200.,  265.,   94.,  230.,  181.,  156.,  233.,   60.,  219.,
          80.,   68.,  332.,  248.,   84.,  200.,   55.,   85.,   89.,
          31.,  129.,   83.,  275.,   65.,  198.,  236.,  253.,  124.,
          44.,  172.,  114.,  142.,  109.,  180.,  144.,  163.,  147.,
          97.,  220.,  190.,  109.,  191.,  122.,  230.,  242.,  248.,
         249.,  192.,  131.,  237.,   78.,  135.,  244.,  199.,  270.,
         164.,   72.,   96.,  306.,   91.,  214.,   95.,  216.,  263.,
         178.,  113.,  200.,  139.,  139.,   88.,  148.,   88.,  243.,
          71.,   77.,  109.,  272.,   60.,   54.,  221.,   90.,  311.,
         281.,  182.,  321.,   58.,  262.,  206.,  233.,  242.,  123.,
         167.,   63.,  197.,   71.,  168.,  140.,  217.,  121.,  235.,
         245.,   40.,   52.,  104.,  132.,   88.,   69.,  219.,   72.,
         201.,  110.,   51.,  277.,   63.,  118.,   69.,  273.,  258.,
          43.,  198.,  242.,  232.,  175.,   93.,  168.,  275.,  293.,
         281.,   72.,  140.,  189.,  181.,  209.,  136.,  261.,  113.,
         131.,  174.,  257.,   55.,   84.,   42.,  146.,  212.,  233.,
          91.,  111.,  152.,  120.,   67.,  310.,   94.,  183.,   66.,
         173.,   72.,   49.,   64.,   48.,  178.,  104.,  132.,  220.,   57.])}

In [62]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(diabetes_X_train, diabetes_y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [63]:
 print(regr.coef_)

[  3.03499549e-01  -2.37639315e+02   5.10530605e+02   3.27736980e+02
  -8.14131709e+02   4.92814588e+02   1.02848452e+02   1.84606489e+02
   7.43519617e+02   7.60951722e+01]

In [64]:
# The mean square error
np.mean((regr.predict(diabetes_X_test)-diabetes_y_test)**2)

2004.5676026898225

In [65]:
 regr.score(diabetes_X_test, diabetes_y_test)

0.58507530226905713

In [69]:
import statsmodels.formula.api as sm

In [70]:
iris=pd.read_csv("http://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv")

In [71]:
iris =iris.drop('Unnamed: 0', 1)

In [74]:
iris.columns=['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species']

In [75]:
result = sm.ols(formula='Sepal_Length  ~  Petal_Length  + Sepal_Width + Petal_Width + Species', data=iris)

In [76]:
result.fit()

In [77]:
result.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Sepal_Length   R-squared:                       0.867
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     188.3
Date:                Thu, 27 Apr 2017   Prob (F-statistic):           2.67e-61
Time:                        21:15:51   Log-Likelihood:                -32.558
No. Observations:                 150   AIC:                             77.12
Df Residuals:                     144   BIC:                             95.18
Df Model:                           5
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Intercept                 2.1713      0.280      7.760      0.000         1.618     2.724
Species[T.versicolor]    -0.7236      0.240     -3.013      0.003        -1.198    -0.249
Species[T.virginica]     -1.0235      0.334     -3.067      0.003        -1.683    -0.364
Petal_Length              0.8292      0.069     12.101      0.000         0.694     0.965
Sepal_Width               0.4959      0.086      5.761      0.000         0.326     0.666
Petal_Width              -0.3152      0.151     -2.084      0.039        -0.614    -0.016
==============================================================================
Omnibus:                        0.418   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.811   Jarque-Bera (JB):                0.572
Skew:                          -0.060   Prob(JB):                        0.751
Kurtosis:                       2.722   Cond. No.                         94.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [78]:
result.fit().params

Intercept                2.171266
Species[T.versicolor]   -0.723562
Species[T.virginica]    -1.023498
Petal_Length             0.829244
Sepal_Width              0.495889
Petal_Width             -0.315155
dtype: float64

In [79]:
result.fit().outlier_test(method='bonf', alpha=0.05)

     student_resid   unadj_p  bonf(p)
0         0.312689  0.754973      1.0
1         0.473016  0.636923      1.0
2        -0.240279  0.810458      1.0
3        -0.956277  0.340546      1.0
4        -0.178770  0.858371      1.0
5         0.036712  0.970765      1.0
6        -1.066895  0.287817      1.0
7        -0.125127  0.900599      1.0
8        -1.021792  0.308605      1.0
9        -0.068824  0.945226      1.0
10        0.703086  0.483145      1.0
11       -1.058507  0.291609      1.0
12        0.038433  0.969396      1.0
13       -0.792571  0.429341      1.0
14        2.431167  0.016288      1.0
15        0.778864  0.437347      1.0
16        1.142357  0.255215      1.0
17        0.416300  0.677815      1.0
18        1.089623  0.277712      1.0
19       -0.346136  0.729749      1.0
20        0.645498  0.519639      1.0
21       -0.078552  0.937498      1.0
22       -0.405720  0.685554      1.0
23        0.133053  0.894339      1.0
24       -1.904722  0.058824      1.0
25        0.255775  0.798492      1.0
26       -0.190906  0.848870      1.0
27        0.368833  0.712798      1.0
28        0.805113  0.422091      1.0
29       -1.063322  0.289428      1.0
..             ...       ...      ...
120       0.540764  0.589512      1.0
121      -1.229878  0.220762      1.0
122       0.814912  0.416478      1.0
123       1.054229  0.293556      1.0
124      -0.491062  0.624135      1.0
125       0.191377  0.848501      1.0
126       0.833707  0.405837      1.0
127      -0.104393  0.917003      1.0
128      -0.388983  0.697868      1.0
129       0.878534  0.381128      1.0
130       1.353238  0.178115      1.0
131       0.653646  0.514390      1.0
132      -0.286276  0.775081      1.0
133       0.024680  0.980344      1.0
134      -1.876542  0.062619      1.0
135       2.474327  0.014518      1.0
136      -1.413807  0.159592      1.0
137      -0.924181  0.356949      1.0
138      -0.161519  0.871913      1.0
139       1.319446  0.189129      1.0
140       0.425193  0.671335      1.0
141       2.426542  0.016488      1.0
142      -1.048813  0.296034      1.0
143      -0.337894  0.735939      1.0
144      -0.077141  0.938619      1.0
145       1.606589  0.110351      1.0
146       1.215637  0.226126      1.0
147       0.602340  0.547902      1.0
148      -1.294716  0.197505      1.0
149      -1.321604  0.188411      1.0

[150 rows x 3 columns]